/**************************************/
/************* EXTERNALS **************/
/**************************************/
@import url('colorbox.css') screen;

/**************************************/
/************** GENERAL ***************/
/**************************************/
img { border:0; }
html, body { height: 100%; padding:0; margin: 0; }
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { font-family: Verdana, Tahoma; }
input { font-size: 0.8em; }
.center { text-align:center; }
.right { text-align: right; }
.warning { color: red; font-weight: bold; }
.noborder { border:0 !important; }

/**************************************/
/************* STRUCTURE **************/
/**************************************/
#wrapper { min-height: 100%; height: 100%; position: relative; }

div#header { 
    background-color:black;
    border-top: 0.5em solid #202529;
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 2;
    padding-right:0.5em;
    border-bottom: solid #4C4C4D 0.2em;
}

div#content {
    height:auto;
    margin-top:5em;
    clear:left;
    margin-bottom:3em;
    display:block;
    overflow: auto;
}

div#footer {
    clear:both;
    padding: 0.5em;
    width: 100%;
    background-color: #202529;
    border-top: solid #4C4C4D 0.2em;
    position:fixed;
    bottom:0;
    left:0;
}

/**************************************/
/*************** HEADER ***************/
/**************************************/
div#header h1 {
    color: #92C0FB;
    padding-left: 0.5em;
}

div#navigation {
    float: right; 
    height: 1.5em;
    font-size: 1.2em;
    margin: 0 1em 0 0;
    padding: 0 1em 0 1em;
    background-color: #202529;
}

div#navigation a {
    color: #FD088D;
    text-decoration: none;
    padding-left: 2.5em;
    background: transparent url(../img/cart.png) center left no-repeat;
    font-size:0.8em;
}

div#search {
    color:white;
    position: relative;
    margin:1.5em 1em 0 0;
    float:right;
    clear:right;
}

/**************************************/
/*************** HEADER ***************/
/**************************************/
div#generator {
    color:white;
    font-size:0.7em;
    float:right;
    margin-right:2em;
}

div#generator a {
    color: #FD088D;
    text-decoration: none;
}

div#generator a:hover {
    text-decoration: underline;
}

/**************************************/
/**************** CART ****************/
/**************************************/
#cart {
    display: none;
}

#cartItems { width: 100%; }
#cartItems tr th {
    color: #FD088D;
    background-color: #202529;
    border-bottom: solid #4C4C4D 0.2em;
}
#cartItems tr td {
    border-bottom: solid #4C4C4D 0.1em;
    padding: 0.3em;
}

/**************************************/
/************** PRODUCTS **************/
/**************************************/
.price.sell { color: #2e6ab1; }

#products {
    list-style: none;
    margin: 2em 0 0 0.5em;
    padding: 0px;
}

#products li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 190px;
  width: 140px;
  text-align: center;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  position: relative;
}

p.info {
  min-height: 65px;
  margin:0;
  font-size:0.8em;
}

p.info span {
  display: block;
}

a.button {
  padding:0.2em;
  text-decoration: none;
  background-color:#ccc;
  border: 1px solid gray;
  color:black;
  cursor: pointer;
}

a.button:hover {
    color: #FD088D;
}
